<p>parrafo de lista de cervezas {{title}}</p>  
<!-- table.table>thead>tr>th*4 -->
<table class="table table-striped text-center align-middle">
    <thead class="table-dark">
        <tr>
            <th scope="col" aria-label="Beer-Image"></th>
            <th scope="col">nombre</th>
            <th scope="col">tipo</th>
            <th scope="col">precio</th>
            <th scope="col" colspan="2">stock</th>
            <!-- <th scope="col" aria-label="Stock-Status"></th> -->
        </tr>
    </thead>
    <!-- tbody>tr*3>td*4 -->
    <tbody>
        <!-- Directivas: Forma que tiene angular para generar templates dinamicos (agrega comportamiento al template y esta asociado a lo visual, no a la logica que hay por detras) -->
        <!-- Usamos la directiva estructural -->
        <ng-container *ngIf="beers && beers.length>0; else empty">

  <!-- Antes del Refactor -->
            <!-- <tr *ngFor="let beer of beers" [ngClass]="{'clearance':beer.clearance,'table-warning':beer.clearance}">
                <td  ><img [src]="beer.image" [alt]="beer.name"></td>
                <td>{{beer.name}}</td>
                <td>{{beer.type}}</td> -->
                <!-- interpolamos la variable "pipe currency" , ya que beer.price pasa por la tuberia "currency" y el resultado del pipe es lo que se interpola -->
                <!-- <td>{{beer.price|currency}}</td >  
                    
                <td>
                    <span *ngIf="beer.stock>=10">{{beer.stock}}</span>
                </td>

                <td>
                    <ng-container *ngIf="beer.stock === 0; else stockOk">
                        <span class="badge text-bg-warning">Sin Stock</span>
                    </ng-container>

                    <ng-template #stockOk>
                        <ng-container *ngIf="beer.stock >= 10">
                           <span *ngIf="beer.clearance" class="badge text-bg-warning">¡Oferta!!</span>
                        </ng-container>
                        <ng-container *ngIf="beer.stock < 10">
                            <span *ngIf="beer.clearance; else noClearance" class="badge text-bg-warning">¡Últimos en Oferta!!</span>
                            <ng-template #noClearance>
                                <span class="badge text-bg-warning">¡No te lo pierdas, es el último!</span>
                            </ng-template>
                        </ng-container>
                    </ng-template>
                </td>
            </tr> -->
  <!-- Antes del Refactor -->
   
<tr *ngFor="let beer of beers" [ngClass]="{'clearance':beer.clearance, 'table-warning':beer.clearance}">
  <td><img [src]="beer.image" [alt]="beer.name"></td>
  <td>{{ beer.name }}</td>
  <td>{{ beer.type }}</td>
  <td>{{ beer.price | currency }}</td>

  <!-- Caso cuando beer.stock >= 10: se muestran 2 celdas -->
  <ng-container *ngIf="beer.clearance && beer.stock >= 10; else mergedCell">
    <td>{{ beer.stock }}</td>
    <td>
      <ng-container *ngIf="beer.clearance">
        <span class="badge text-bg-warning">¡Oferta!</span>
      </ng-container>
    </td>
  </ng-container>

  <!-- Caso cuando stock < 10: un solo td con colspan -->
  <ng-template #mergedCell>
    <td colspan="2">
      <ng-container *ngIf="beer.stock === 0; else lowStock">
        <span class="badge text-bg-warning">Sin Stock</span>
      </ng-container>

      <ng-template #lowStock>
        <ng-container *ngIf="beer.clearance; else noClearance">
          <span class="badge text-bg-warning">¡Últimos en Oferta!!</span>
        </ng-container>
        <ng-template #noClearance>
          <ng-container *ngIf="beer.stock < 10; else commonProduct">
              <span class="badge text-bg-warning">¡No te lo pierdas, es el último!</span>
          </ng-container>
          <!-- 10 unidades (o mas) del producto y no tiene oferta -->
          <ng-template #commonProduct>
            {{ beer.stock }}
          </ng-template>
        </ng-template>
      </ng-template>
    </td>
  </ng-template>
</tr>

        </ng-container>
        <ng-template #empty>
            <tr colspan="4">No hay cervezas disponibles</tr>
        </ng-template>
        

        <!-- Sin directivas: (nuevo 2025) -->
        <!-- <tr *ngFor="let beer of beers">
            <td><img class="img-thumbnail" [src]="beer.image" [alt]="beer.name"></td>
            <td>{{beer.name}}</td>
            <td>{{beer.type}}</td>
            <td>{{beer.price}}</td>
        </tr> -->
     </tbody>
</table>