img{
    max-width: 100%;
    max-height: 100%;
    // justify-self: flex-end;
    // text-align: left;
    place-items: center;
    // min-height: 100px;
    max-height: 150px;
}

.img-beer{
  width: 100px; 
  height: 100px; 
  object-fit: contain;
  // background-color: white;
}

td{
    width: 200px;
    // height: 200px;
    // text-align: inherit;
    max-height: 150px;
    // place-items: center;
    vertical-align: middle;
}

.clearance{
  border: 2px solid rgb(173, 158, 15);
  background: aquamarine !important;
  // background: $teal-100; instalar dep Sass
  font-weight: bold;
}

.blink {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  10% {
    opacity: 0;
  }
}

.blink-soft {
  animation: glowFade 1.5s ease-in-out infinite alternate;
}

@keyframes glowFade {
  from {
    box-shadow: 0 0 0px rgba(255, 0, 0, 0.4);
    transform: scale(1);
  }
  to {
    box-shadow: 0 0 12px rgba(255, 0, 0, 0.8);
    transform: scale(1.33);
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    // -webkit-appearance: none;  
    appearance: none;
}

input[type=number] { 
  appearance: textfield;
  margin-left: 10px !important;
  margin-right: 10px;
  text-align: center;
  width: 80px;
  max-width: 100px;
 }
 
button{
  width: 30px
}