input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

input[type=number] { 
  appearance: textfield;
  border: none;
  box-shadow: none;
}
 
button{
  min-width: 40px;
}

.input-item{
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;

  padding: 2px;  

  &:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  }
}