<h1 class="text-center"> 😍👘 Lista de Productos 🎮✨</h1>
<!-- table.table>thead>tr>th*4 -->
<table class="table table-striped table-hover text-center">
  <thead class="table-dark">
    <tr>
      <th scope="col" aria-label="Beer-Image"></th>
      <th scope="col">nombre</th>
      <th scope="col">tipo</th>
      <th scope="col">precio</th>
      <th scope="col">stock</th>
      <th scope="col">Compra</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="products && products.length > 0; else empty">

      <tr scope="row" *ngFor="let product of products" 
        [ngClass]="{
          'clearance': product.clearance,
          'table-warning': product.clearance,       
        }">     <!-- table-warning:  le da el color a la fila de la tabla -->
        <!-- <td><img [src]="product.image" [alt]="product.name" class="img-fluid img-product" style="max-height: 100px;"></td> -->
        <td><img [src]="product.image" [alt]="product.name" class="img-product"></td>
        <td>{{ product.name }}</td>
        <td>{{ product.type }}</td>
        <td>{{ product.price | currency }}</td>

        <!-- Sin stock -->
        <ng-container *ngIf="product.stock === 0">
          <td class="text-center">
            <span class="badge bg-danger">
              <i class="bi bi-exclamation-triangle-fill"></i> Sin Stock
            </span>
          </td>
        </ng-container>

        <!-- Stock > 10 -->
        <ng-container *ngIf="product.stock > 10">
          <td>
            {{ product.stock }}
            <ng-container *ngIf="product.clearance">
              <div class="lh-lg">
                <span class="badge bg-warning text-dark">
                <i class="bi bi-lightning-fill"></i> ¡Oferta!
              </span>
              </div>
            </ng-container>
          </td>
        </ng-container>

        <!-- Stock entre 1 y 10 con oferta -->
        <ng-container *ngIf="product.stock > 0 && product.stock <= 10">
          <td class="text-center">
            <ng-container *ngIf="product.clearance; else lowStock">
              <span [ngClass]="{
                'badge': true,
                'bg-warning text-dark': product.stock > 3,
                'bg-danger': product.stock <= 3,
                'blink-soft': product.stock === 1,
              }">
              <i class="bi bi-fire"></i>
              <ng-container *ngIf="product.stock === 1">¡Última en Oferta!</ng-container>
              <ng-container *ngIf="product.stock > 1">¡Últimos en Oferta!</ng-container>
              </span>
            </ng-container>
            <!-- Stock entre 1 y 10 sin oferta -->
            <ng-template #lowStock>
              <span [ngClass]="{
                'badge': true,
                'bg-warning text-dark': product.stock > 3,
                'bg-danger': product.stock <= 3,
               
                'blink': product.stock === 1
              }"> 
              <!-- 'blink': product.stock === 1, -->
                <i class="bi bi-box-seam"></i>
                <ng-container *ngIf="product.stock === 1">¡Última unidad!</ng-container>
                <ng-container *ngIf="product.stock > 1">¡No te lo pierdas!</ng-container>
              </span>
            </ng-template>
          </td>
        </ng-container>
        <td>
          <div class="input-group mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-dark btn-sm"  
                (click)="downQuantity(product)">
                -
                </button>
              </div>
              <input type="number" 
                   name="unidades-cervezas" 
                   id= {{product.name}} 
                   [min]="0"
                   [max]="product.stock"
                   [value]="product.buyQuantity" 

                   [(ngModel)]="product.buyQuantity"
                   (keyup)="validateKey($event, onlyNumbers)"
                   (input)="validateQuantity($event, product)"> 
                   
              <div class="input-group-append">
                <button type="button" class="btn btn-dark btn-sm"
                (click)="upQuantity(product)">
                +
                </button>
              </div>

            </div>
          </div>    
        </td>
      </tr>
    </ng-container>
    <ng-template #empty>
      <tr scope="row">
        <td colspan="6">No hay cervezas disponibles</td>
      </tr>
    </ng-template>
  </tbody>
</table>